<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <add key="ServerIP" value="127.0.0.1"/>
    <add key="ServerPort" value="8888"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


  <log4net>
    <appender name="LogToFile" type="log4net.Appender.FileAppender">
      <file value="logs/ClientLogs.log" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <logger name="MyClassLibraryLogger">
      <level value="DEBUG" />
    </logger>
    <root>
      <priority value="DEBUG" />
      <appender-ref ref="LogToFile" />
    </root>
  </log4net>
</configuration>